<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    
    <title>Document</title>
</head>
<body>

    <div class="navbar">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Listar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Infos</a>
            </li>
           
    </div>

    <section id="tabela">
      <div class="container">
        <table>
          <tr>
            <td>Tarefa</td>
            <td>Status</td>
            <td>delete</td>
            <td>edit</td>
          </tr>
          {% for dbs in db %}
          <tr>
            <td>{{dbs.nome}}</td>
            <td>{{dbs.is_active}}</td>
            <td id="td-btn"><a href="/delete/{{dbs.id}}/"><img src="{% static 'css/delete.svg' %}" alt=""></a></td>
            <td id="td-btn"><a href=""><img src="{% static 'css/delete.svg' %}" alt=""></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
        
    </section>


  

</body>
</html>