body {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#container-principal {
    display: flex;
    width: 40vh;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 5%;
    margin-left: 70vh;
    margin-right: 70vh;
    margin-top: 20vh;
}